__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
build/
dist/
*.spec.bak
config/config.json
database/*.db
database/*.db-*
logs/*.log
history/images/*
history/videos/*
downloads/*
!history/images/.gitkeep
!history/videos/.gitkeep
!downloads/.gitkeep
*.egg-info/
.idea/
.vscode/
*.swp
*.swo
*~

